.imageDialogBackdrop {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.228);
    transition: all 0.3s
}

.imageDialog {
    width: 350px;
    height: auto;
    padding: 16px 8px;
    background: white;
    border-radius: 5px;
}

.imageDialog>.title {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid black;
}

.imageDialog>.inputGroup {
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    margin: 4px 0px;
    font-size: 16px;
}

#imageLinkInput {
    margin-top: 2px;
}

#imageFileInput{
    display: none;
}

.imageDialog > .actionButtons{
    display:flex;
    justify-content: right;
}
.imageDialog > .actionButtons > .button-success{
    margin-right: 3px;
}

.selectedImage{
    width: 100%;
    height: auto;
    object-fit: contain;
}