body{
    font-family: "Poppins", sans-serif;
}

.DefaultEditorTheme__EditorContainer {
    max-width: 740px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 0px 24px;
    font-family: "Poppins", sans-serif;
    color: rgb(41, 41, 41);
    font-weight: 400;
    font-size: 20px;
    box-sizing: border-box;
}

.DefaultEditorTheme__ContentEditable:focus {
    outline: none
}

.DefaultEditorTheme__listItem {
    margin: 8px 32px;
}

.DefaultEditorTheme__h1, .DefaultEditorTheme__h2, .DefaultEditorTheme__h3, .DefaultEditorTheme__h4, .DefaultEditorTheme__h5, .DefaultEditorTheme__h6 {
    font-family: "Poppins", sans-serif;
    line-height: 1.3;
}

.DefaultEditorTheme__h1 {
    font-size: 40px;
    padding-bottom: 6px;
    margin: 0px;
    padding-top: 18px;
}

.DefaultEditorTheme__h2 {
    font-size: 32px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 0px;
    margin: 0px;
}

.DefaultEditorTheme__h3 {
    font-size: 24px;
}

.DefaultEditorTheme__paragraph {
    padding-bottom: 0px;
    margin: 8px 0px 16px;
}

@media only screen and (max-width: 725px) {
    body {
        font-size: 18px;
    }

    .DefaultEditorTheme__h2 {
        font-size: 20px;
    }
}

.DefaultEditorTheme__textItalic {
    font-style: italic;
}

.DefaultEditorTheme__textBold {
    font-weight: bold;
}

.DefaultEditorTheme__textUnderline {
    text-decoration: underline;
}

.DefaultEditorTheme__textStrikethrough {
    text-decoration: line-through;
}

.DefaultEditorTheme__textUnderlineStrikethrough {
    text-decoration: underline line-through;
}

.DefaultEditorTheme__Placeholder {
    position: relative;
    top: -40px;
    z-index: -10;
    color: rgba(0, 0, 0, 0.507);
}

.DefaultEditorTheme__image>div {
    padding: 0px;
    width: 100%;
    margin: 8px 0px;
    align-items: center;
    display: flex;
    border-radius: 5px;
    border-color: orange;
    border-style: solid;
    background: rgb(207, 207, 207);
    transition: all 0.1s ease;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}

.DefaultEditorTheme__image>div:hover {
    background: rgb(177, 176, 176);
}

.DefaultEditorTheme__image>div>div {
    width: 100%;
    margin: 0px;
    padding: 8px 8px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(0, 0, 0, 0.785);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.DefaultEditorTheme__image>div>div>span {
    margin-left: 8px;
}

.DefaultEditorTheme__image img {
    object-fit: cover;
    width: 100%;
}
.DefaultEditorTheme__image button {
    background: none;
    text-decoration: underline;
    border: 0px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.DefaultEditorTheme__code {
    background: #282c34;
}