:root {
    --colorPrimary: rgb(0, 144, 160, 0.995);
    --colorSecondary: rgba(67, 67, 67, 0.82);
}

.DefaultButton {
    width: 64px;
    padding: 8px 0px;
    margin-left: 8px;
    background: none;
    border: 1px solid;
    border-radius: 2px;
}

.DefaultButton:hover {
    cursor: pointer;
}

.DefaultButton_Primary {
    border-color: var(--colorPrimary);
}

.DefaultButton_Primary:hover {
    animation: onHoverColorChangePrimary .2s ease forwards;
}

.DefaultButton_Secondary {
    border-color: var(--colorSecondary);
}

.DefaultButton_Secondary:hover {
    animation: onHoverColorChangeSecondary .2s ease forwards;
}

.DefaultButton_Disabled{
    border-color: var(--colorSecondary);
}

.DefaultButton_Disabled:hover{
    cursor: default;
    animation: none;
}

@keyframes onHoverColorChangePrimary {
    100% {
        fill: white;
        background-color: var(--colorPrimary);
        color: white;
    }
}

@keyframes onHoverColorChangeSecondary {
    100% {
        fill: white;
        background-color: var(--colorSecondary);
        color: white;
    }
}